@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1645413873750') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai239:before {
  content: "\e6e3";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-kexuanzuowei:before {
  content: "\e699";
}

.icon-dianying:before {
  content: "\e661";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-changciguanli:before {
  content: "\ea97";
}

