
 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>创建参演人员</title>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="/css/admin.css"/>
	</head>
	<body>
		<div class="layui-tab page-content-wrap">
		  <ul class="layui-tab-title">
		    <li class="layui-this">创建参演人员</li> 
		  </ul>
		  <div class="layui-tab-content">
		    <div class="layui-tab-item layui-show">
		    	<form class="layui-form" th:action="@{'/admin/createPerson'}"  enctype="multipart/form-data" method="post"  style="width: 90%;padding-top: 20px;">
				  <div class="layui-form-item">
				    <label class="layui-form-label">头像：</label>
				    <div class="layui-input-block">
				      <input type="file" name="headFile" required     class="layui-input " >
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">人员类型：</label>
				    <div class="layui-input-block">
				      <input type="text" name="type" required     placeholder="请输入导演/演员"  class="layui-input " >
				    </div>
				  </div>
				   
				  <div class="layui-form-item">
				    <label class="layui-form-label">真名：</label>
				    <div class="layui-input-block">
				      <input type="text" name="TureName" required    placeholder="请输入"   class="layui-input"  >
				    </div>
				  </div>
				   <div class="layui-form-item">
				    <label class="layui-form-label">饰演名：</label>
				    <div class="layui-input-block">
				      <input type="text" name="playName" required    placeholder="请输入"   class="layui-input"  >
				    </div>
				  </div>
				   
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <input type="submit" class="layui-btn layui-btn-normal"  value="立即提交 ">
				      
				    </div>
				  </div>
				</form>
		    </div>
		     
		  </div>
		</div>
	<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	 
	</body>


</html>