
<!DOCTYPE html>
<html class="iframe-h" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>选择绑定人员</title>
		<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
		
	</head>
	<style>
		.selected{font-weight:bold; background: #1E9FFF; color:#fff;}
		li:hover a{
			font-weight:bold; background: #009900; color:#fff;
		}
	</style>
	<body>
		<div class="layui-tab page-content-wrap">
		  <ul class="layui-tab-title">
		    <li class="layui-this">选择绑定人员</li> 
		  </ul>
		  <div class="layui-tab-content">
		    <div class="layui-tab-item layui-show">
					<form class="layui-form" th:action="@{'/admin/createPlayRelation'}" method="post" >
						 
							 <div class="layui-form-item">
									<label class="layui-form-label">电影：</label>
									<div class="layui-input-block">
										<select name = "filmId" id="filmId" required>
								         		<option value="-1">--请选择--</option>
										            <option  th:each="film:${films}"
										             th:value="${film.filmId}" th:text="${film.filmName}"></option>
								        </select>
									</div>
								</div>
							     
							 <div class="layui-form-item">
									<label class="layui-form-label">参演人员：</label>
									<div class="layui-input-block" th:each="participants:${listParticipants}" >
								       	 
								        <input type="checkbox" name="ParticipantsId"  
								         th:value="${participants.ParticipantsId}" th:text="${participants.TureName}" >
								         <span th:text="${participants.type}"> </span>
								          
							       </div>
							</div>

						 <div class="layui-form-item">
						    <div class="layui-input-block">
						      <input type="submit" class="layui-btn layui-btn-normal"  value="立即提交 ">
						      <a class="layui-btn layui-btn-normal" th:href="@{'/admin/selectProduce'}">返回</a>
						    </div>
						  </div>
					 </form>
						  <div class="page-wrap">
								<ul class="pagination" >
									<li class="disabled"><span th:text="${pages}"></span><span>页</span></li>
									<li class="disabled"> <a th:href="@{'/admin/toCreatePlayRelation?page='+${page -1}}">«</a></li>
									<li   th:each="i:${#numbers.sequence(1,pages)}">
										<a  th:href="@{'/admin/toCreatePlayRelation?page='+${i}}"  th:text="${i}"></a>
									</li>

									<li>
										<a th:href="@{'/admin/toCreatePlayRelation?page='+${page+1}}">»</a>
									</li>

								</ul>
							</div>
				</div>
			</div>
		</div>
		<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
	</body>
	<script>
		$(function () {
			$("ul a").each(function () {
				$("a").eq(0).addClass('selected');
				$(this).click(function () {
					$(this).siblings('a').removeClass('selected');  // 删除其他兄弟元素的样式
					$(this).addClass('selected');
					/* $(this).addClass('selected'); */                           // 添加当前元素的样式
				})
			})
		})
	</script>
</html>